@media (min-width: 500px) {
.django-ace-widget {
    display: inline-block;
    height: 520px;
    position: relative;
    width: 720px;
}

div#container
{
	min-width: 400px!important;
}

}
@media (min-width: 901px) {
.django-ace-widget {
    display: inline-block;
    height: 610px;
    position: relative;
    width: 850px;
}
}



@media (min-width: 1001px) {
.django-ace-widget {
    display: inline-block;
    height: 610px;
    position: relative;
    width: 1000px;
}
}

@media (min-width: 1101px) {
.django-ace-widget {
    display: inline-block;
    height: 610px;
    position: relative;
    width: 1100px;
}
}

@media (min-width: 1401px) {
.django-ace-widget {
    display: inline-block;
    height: 610px;
    position: relative;
    width: 1350px;
}
}


.django-ace-widget > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.django-ace-widget.loading {
    display: none;
}
