{% load cms_tags sekizai_tags %}
<html>
<head>
    {% render_block "css" %}
</head>
<body>
<style type="text/css">
   body {

    /* Отступ от текста слева */
    background-color: #fc0; /* Цвет фона,
                                                    путь к фоновому изображению и
                                                    повторение фона по вертикали */
   }
  </style>
{% cms_toolbar %}





        sadasdada




{% block base_content %}{% endblock %}


{% render_block "js" %}
</body>
</html>