.slogan {margin:60px 90px 50px 40px;}

form#search{filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#fefefe',GradientType=0);padding:5px;}

form#search input{outline:none;border:0;background:none;}

.menu-block {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#d7d7d7',GradientType=0);}

.menu-block .product-item {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#bababa',GradientType=0);}

.menu-block .acitem{filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#d9d9d9',GradientType=0);}

.acitem a:hover {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#dadada',GradientType=0);}

.contry, .language {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#d7d7d7',GradientType=0);}
.contry:hover, .language:hover {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7d7d7', endColorstr='#fefefe',GradientType=0);}

.menu-block .current {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#bababa',GradientType=0);}

.all-products {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbffc0', endColorstr='#92d661',GradientType=0);}
.all-products:hover {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92d661', endColorstr='#dbffc0',GradientType=0);}

.gallery-item div {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cc427', endColorstr='#238206',GradientType=0);}

.directions {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaf5f9',GradientType=0);}

.main-footer {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae5ef', endColorstr='#7abed8',GradientType=0);}

.category {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#e5e5e5',GradientType=0);}

.level2 div a{filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#d7d7d7',GradientType=0);}












	
	