/************ all-style ************/

/* ul */
/*+minus, plus*/
.ok {list-style: inside url(img/marker.png); width:350px;}
.ok li {margin-top:5px;vertical-align:top;}
.ok a {    border-bottom: 1px dashed #0182B2;
    color: #0182B2;
    font-size: 15px;
    line-height: 36px;
    text-decoration: none;}
.ok a:hover, .link-block a:hover
{
border-bottom: none;
}

/* ol */
ol {list-style-position:inside;}


/* p */
.mtop-p{ font-size:16px; margin-top:15px; }

.grey-p {font-size:17px; line-height:28px ;color:#333333; margin:30px 0;}
.grey-p-mt {font-size:17px; line-height:28px ;color:#333333; margin:30px 0 0 0;}
/* img */

.border-img {border: 6px solid #fff;box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);}

.foto-img a {color:#0182b2;}
.foto-img { display:inline-block;text-align:center;color:#727272; font-size:14px;vertical-align:top;margin-right:10px;}
.foto-img img { margin-bottom:5px; margin-left: auto; margin-right:auto;}

/* h */

.green-h{color:#359418;font-size:none!important; font-weight: normal;}

h3.green-h{color:#359418;font-size:20px;}

/* a */
.anchor {text-decoration: none;border-bottom: 1px dashed #0182B2; color: #0182B2;}
.anchor:hover { border-bottom: none; }
.link { color: #0182B2;}

.green-link{
color: #359418;
}
/* options */
/* options gorizontal/ options small-options */

/* floats */
.f_left
{
float: left;
}
.f_right
{
float: right;
}


/* For modern browsers */
.container:before,
.container:after {
    content:"";
    display:table;
}
.container:after {
    clear:both;
}
.full_width, .clear
{
 width:100%;
}

/* Sitemedia */
#sitemap ul 
{   
    padding-left: 20px;
}

#sitemap ul li 
{
     
    padding-left: 20px;
}
#sitemap ul li a
{
    color: #0182B2;
}
.panel li p
{
text-align: left;
margin-top: 0px;
margin-left: 30px;
}

.acitem
{
    display:none;
}

.certs
{
    margin-top: 30px;
    width: auto;
}

.instrs
{
    margin-top: 30px;
    width: auto;
}

.sales_product_list
{
    margin-top: 30px;
    width: auto;
}

.news_page_pic
{
    margin-top: 15px;
    margin-left:30px;
    margin-right: -50px;
}

.mtop-p i
{
    background: none;
    
}

.product-paragraf i
{
    background: none;
    vertical-align: none;
    text-align: none;
    display:inline;
}
.grey-p i
{
    background: none;
}

.panel p
{
    text-align: left;
}

.options3 a
{
     margin-right: 85px;
}

.options2 a
{
    margin-left: 80px;
    margin-right: 80px;
}

.half_different
{
    border-bottom: solid 1px #d6e3eb;
    padding: 0 0 12px 0;
    margin: 0 0 10px 0;
}


.menu-item-1 .acitem  ul
{
min-height: 282px;

}
.menu-item-1 .acitem
{
    padding: 25px 0 0 0!important;
}
.menu-block .acitem_main 
{
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.42);
}



.maps-item img, .foto img, .foto-border {border:6px solid #fff;box-shadow:0 0 5px rgba(0, 0, 0, 0.3);margin-bottom:5px;}
.maps-item img {display:block;}

.mtop30
{
    margin-top:30px;
}

.garant
{
    
}

.product-page li.outer.bold a
{
    border-bottom: 0 none;
    display: inline-block;
    margin-left: -10px;
    margin-top: 19px;
    font-weight: bold ;
    color: #000000;
}

.product-page li.outer a
{
    border-bottom: 0 none;
}

.product-page li.inner.bold  a span
{
    border-bottom: 0 none;
    display: inline-block;
    font-weight: bold ;
    color: #111111;
    margin-left:-15px;
    font-size:13px;
}

.product-page li.inner.bold  a 
{
    border-bottom: 0 none;
}

.product-page li.inner
{
    margin-left:15px;
}

.product-page.pl_tanks li.inner
{
    margin-left:0px;
}

.product-page.pl_tanks  li.inner.bold a span 
{
    font-size:14px;
    color: #000000;
}

.product-page.pl_tanks hr
{
    margin-left:-15px;
}

.product-page a {
    border-bottom: 1px dotted #707070;
    text-decoration: none;
}

.product-page.pl_tanks a {
    border-bottom: none;
}

.inner_b
{
    background-color: #3B8A37;
}

.menu-item-1{
border-radius:5px 0 0 5px;background: -ms-linear-gradient(top, #fdfdfd, #bababa);background: linear-gradient(top, #fdfdfd, #bababa);background: -webkit-linear-gradient(top, #fdfdfd, #bababa);background: -moz-linear-gradient(top, #fdfdfd, #bababa);background: -o-linear-gradient(top, #fdfdfd, #bababa);

width:114px;width:113px\0/;
background-size: auto 44px;
background-repeat: repeat-x;
}



.will_fade, #will_fade_slider, #will_fade_logo , .gal-hide
{
    visibility: hidden;
}



.d_none
{
    display:none;
}

/*body
{

background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(147, 207, 243),rgb(147, 207, 243),rgb(147, 207, 243));

} */
.menu-block-short
{

width: 220px;
/* margin-left: auto;
margin-right: auto; */

}
.nav-item
{
display:none;
}

#bg_fade
{
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(147, 207, 243),rgb(147, 207, 243),rgb(147, 207, 243),rgb(147, 207, 243));
    background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(147, 207, 243),rgb(147, 207, 243),rgb(147, 207, 243),rgb(147, 207, 243));
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(147, 207, 243),rgb(147, 207, 243),rgb(147, 207, 243),rgb(147, 207, 243));
    background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(147, 207, 243),rgb(147, 207, 243),rgb(147, 207, 243),rgb(147, 207, 243));
    background-image: linear-gradient(top, rgb(255, 255, 255), rgb(147, 207, 243),rgb(147, 207, 243),rgb(147, 207, 243),rgb(147, 207, 243));
    -webkit-transition: background 0.3s  linear;
    -moz-transition: background 0.3s  linear;
    -ms-transition: background 0.3s  linear;
    -o-transition: background 0.3s  linear;
    transition: background 0.3s  linear;
    height: 100%;
    width: 100%;
}

header
{
    min-height:199px;
}
.header_top
{
min-height:155px; 
overflow:hidden;
}

.header_and_middle {
min-height: 100%;
height: 100%;
height: auto !important;
margin: 0 auto -448px;
}

.footer-sticky, .push {
height: 414px;
margin-top: 34px;
}


.directions
{
min-height:282px;
}
.directions > h1 
{
min-width: 377px;
height:33px;
}
footer
{
  min-height: 62px;
}

.stopper {
box-shadow:none;
}

.menu-item-1 .acitem li div a
{
 margin-top: -3px;
 margin-bottom: -2px;
 max-width:268px;
}
.menu-item-1 .acitem li div span
{
color: #424242;
font-size: 12.3px;
line-height:    1.2;
display: block;
max-width:268px;
}


.menu-item-1-h 
{
    border-radius: 5px 0 0 5px;
    position: absolute; top:0px; left:0px; width:115px; height:44px;
}   

.product-item:hover .menu-item-1-h 
{
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.6);
   
}





.product-item
{
        position:relative;
}    


.s-nav-ul
{
margin-top:13px!important;
min-height: 260px!important;
}

.active .menu-item-1-h
{
    box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.6)!important;
}


.menu > li > .dropdown:hover
{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2)!important ;
}
.menu > li > .active
{
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2)!important;
}

.menu > li > a.product-item, a.product-item.active:hover
{
    box-shadow: none!important;
    background: none;
}

.menu-block li a.heigh-a:hover
{
color:#252525!important;
border-radius:5px;
box-shadow:0 1px 2px rgba(0, 0, 0, 0.53);
background: -ms-linear-gradient(top, #b3b3b3, #dadada)!important;
background: linear-gradient(top, #b3b3b3, #dadada)!important;
background: -webkit-linear-gradient(top, #b3b3b3, #dadada)!important;
background: -moz-linear-gradient(top, #b3b3b3, #dadada)!important;
background: -o-linear-gradient(top, #b3b3b3, #dadada)!important;
box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

.menu-block li a.low-a:hover {
border: 1px dashed black;
text-decoration:underline!important;
}
  
#YMapsID
{
background:#ffffff; background-image: url(img/ajax-loader.gif) ;background-repeat:no-repeat; background-position: center center;
}

.map-icon:hover {text-decoration: underline; color: #359418!important;}

.certs {list-style:url(img/marker-sertificate.png) inside;}

.certs a, .instrs a, .star-list  a {text-decoration:none;border-bottom:1px dashed #0182b2;color:#0182b2;vertical-align:top;}

.certs {list-style:url(img/marker-instruction.png) inside;}

.slider
{
background-color: rgba(190, 230, 240);
}

.vat
{
float: right;
font-size: 17px;
margin-right: 15px;
}

.logo
{
    transition: transform 1s;
}
