<!DOCTYPE html>
{% load cms_tags ukrhim_extras i18n compress imagekit adv_cache assign %}
{% get_current_language as LANGUAGE_CODE %}
{% is_draft as cdraft %}
{% if_main as if_main %}
{% first_time as first_time %}
{% visit_number as visit_number %}
{% cache_version request.current_page.get_root.last_publish_date as cversion %} 
{% spaceless %}
<html>
	<head>      
         
        <meta name="viewport" content="width=1100, maximum-scale=1">

        <style>
            * { margin:0; padding:0;}
        </style>
        
		{% block meta %}
			<meta charset="utf-8">
            {% page_attribute "meta_description" as meta_descr %}
            {% if meta_descr %}
                <meta name="description" content="{{ meta_descr }}" />
            {% endif %}
            
            {% page_attribute "meta_keywords" as meta_words %}
            {% if meta_words %}
                <meta name="keywords" content="{{ meta_words }}" />
            {% endif %}
		{% endblock %}
		
		{% block title %}
            {% page_attribute "page_title" as page_title %}
            {% page_attribute "title" as title %}
			<title>{% if not subdomain %}{% if page_title != title %}{{ page_title }}{% else %}{% company_name %} - {% page_attribute "title"  %}{% endif %}{% else %}{% if page_title != title %}{% if not request.current_page.reverse_id == 'main' %}{{ page_title }}{% endif %} {% subdomain_region %} - {% company_name %}{% else %}{% page_attribute "title"  %} {% subdomain_region %} - {% company_name %}{% endif %}{% endif %}</title>
		{% endblock %}
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">

        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        {% block canonical %}
        {% endblock %}
		{% block css %}
            {% compress css %}
                <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}catalog/style.css" />
                <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}catalog/user_media.css" />
            {% endcompress %}
            {% get_site_media_css as site_media_css %}
            {% if site_media_css %}
                    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}catalog/user_media_{{ site_cutting }}.css" />
            {% endif %}
            <!--[if lte IE 9]>
                {% compress css %}
                    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}catalog/ie9.css" />
                {% endcompress %}    
            <![endif]-->
		{% endblock %}
		
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        
        {% compress js %}            
            {% include 'scroll_js.html' %}
            <script src="{{ STATIC_URL }}catalog/js/menu.js" type="text/javascript"></script>
            <script src="{{ STATIC_URL }}catalog/js/imagesloaded.pkgd.min.js" type="text/javascript"></script>
            <script src="{{ STATIC_URL }}catalog/js/jquery.cookie.js" type="text/javascript"></script>
         
            

        {% endcompress %}
        <script>
                $(document).ready(function(){
                                    
                    
                    if (! $.cookie("{{ site.site_cutting }}_first_visit")){ 
                       imagesLoaded('#bg_img_wait', function() {
                          $('#bg_grad').css('opacity', '0.0');
                        } );
                    }
                    
                    $.cookie("{{ site.site_cutting }}_first_visit", "firstSet")
                    
                    visit_num=parseInt($.cookie("{{ site.site_cutting }}_visit_num"))
                    if (! visit_num){
                        visit_num=1
                        $.cookie("{{ site.site_cutting }}_visit_num", visit_num, {"expires" : 7})
                        
                    }
                    else
                    {
                        $.cookie("{{ site.site_cutting }}_visit_num", visit_num+1 , {"expires" : 7})
                    }
                
                    $(".level1").click(function(){
                           var cssD = $(this).next('.level2').css('display');
                            if( cssD == "none"){
                                 $(this).next('.level2').slideDown(400);
                           }
                           else{
                                $(this).next('.level2').slideUp(400);
                           }
                    }
                    )   
                   
                })
                
                $(function() { 
                        if (!("ontouchstart" in document.documentElement)) {
                                $('.menu-item-1 .acitem a').addClass('heigh-a')
                            }
                        else
                            {
                                $('.menu-item-1 .acitem a').addClass('low-a')
                             }
                    })
            </script>
        {% if request.current_page.reverse_id != 'main' %}
            {% compress js inline %}
                <script>
                $(document).ready(function(){
                        $('.will_fade').css('visibility','visible').hide().fadeIn(400,'swing'); 
                      })
                function metrikaReach(goal_name) {
                    for (var i in window) {
                        if (/^yaCounter\d+/.test(i)) {
                            window[i].reachGoal(goal_name);
                        }
                    }
                }
                </script>
                
            {% endcompress %}
        {% endif %}
        
    
        {% show_placeholder 'google analitycs' 'main' %}
	</head>
	
	<body data-spy="scroll" data-offset="380" > 
        <noscript>
            <section class="noscript_error">
                <h2>{{ site.company }}</h2>
                <p>{% trans "Welcome to our website!" %}</p>
                <p>{% trans "Please, enable javascript to use our site." %} <a href="{% trans 'https://support.google.com/answer/23852?hl=en' %}">{% trans 'How?' %}</a></p>
            </section>
        </noscript>
        {% if first_time %}<div id="bg_img"></div><div id="bg_grad"></div>{% else %}<div id="bg_grad"></div><div id="bg_img"></div>{% endif %}
            {% block header %}
                <header>
                    <div class="container header_top" >
                        <a title="{% trans 'Main page' %}" href="{% page_url 'main' %}" class="logo {% if request.current_page.reverse_id == 'main' and not site.domain in request.META.HTTP_REFERER  %}drizzle_low{% endif %}" {% if request.current_page.reverse_id == 'main' %}id="will_fade_logo"{% endif %} ><img src="{% show_placeholder 'logo' 'main' %}" /></a>
                        <div class=" {% if request.current_page.reverse_id == 'main' %}will_fade{% endif %} slogan">{% show_placeholder "slogan" "main" %}</div>
                        {% block header_right %}
                            {% get_page 'site_search' as site_search_page %}
                            {% get_placeholder 'search id' site_search_page as search_id %}
                            {% get_placeholder 'site right header' 'main' as right_header %}
                            {% if right_header %}
								{{ right_header }}
                            {% else %}
                                {% if search_id %}
                                    <form class=" {% if request.current_page.reverse_id == 'main' %}will_fade{% endif %}" id="search" method="get" action="{% page_url site_search_page %}">
                                        <input type="search" name="text" value="{% trans 'search on site' %}" class="search-text" onfocus="{if (this.value == '{% trans 'search on site' %}')this.value = '';this.setAttribute('class','search-text');}" onblur="if (this.value == ''){this.value = '{% trans 'search on site' %}';this.setAttribute('class','search-text');}" />
                                        <input class="search-button" type="submit" title="'{% trans 'search on site' %}'" />
                                        
                                        <input type="hidden" name='searchid' value='{{ search_id }}'>
                                        <input type="hidden" name='web' value='0'>
                                    </form>
                                {% endif %}
                            {% endif %}
                        {% endblock %}
                        <div style="display:none" id="bg_img_wait"><img src="{{ STATIC_URL }}catalog/img/fon.jpg?6e35f2b03e92" ><img id="img_fade" src="{{ STATIC_URL }}catalog/img/fon.png?c3e23d468992" ></div>
                    </div>
                    
                    <nav class="menu-block  {% if request.current_page.reverse_id == 'main' %} {% if visit_number < 2 %} menu-block-short{% endif %}  will_fade  {% endif %} ">
                        {% cache 0 nav_menu site.pk LANGUAGE_CODE if_main cdraft cversion %}
                            <ul class="menu collapsible">
                                {% for page in request.current_page.get_root.get_children %}
                                    <li class="{% if request.current_page.reverse_id == 'main' %}nav-item{%endif%} menu-item-{% cycle '1' '2' '3' '4' '5' '6' '7' '8' '9' %}">
                                        {% if forloop.counter == 1 %}
                                            
                                            <a title="{% trans "Product types" %}" href="#" id="products_button" class="product-item">{% page_attribute "menu_title" page %}<div class="menu-item-1-h"></div></a>
                                            
                                            <div class="acitem">
                                                <div class="arrow-top"></div>
                                                    {% get_page  "products" as products_page %}
                                                    {% for page in products_page.get_children %}
                                                        {% if page.reverse_id != "product_inner" and page.published %}
                                                            <ul class="left {% if forloop.counter > 2 %}s-nav-ul{% endif %} {% if forloop.counter == 5 %}nav-ul-in-develop{% endif %}">
																{% assign name='category_page_url' %}{% if page.reverse_id|slice:":10" != "redirect__" %}{% page_url page %}{% else %}{% page_url page.reverse_id|slice:"10:" %}{% endif %}{% endassign %}
																
																
																
                                                                <li class="item-title">
																	{% if page.in_navigation %}<a href="{{ category_page_url }}">{% page_attribute "menu_title" page %}</a>{% else %}{% page_attribute "menu_title" page %}{% endif %}
																	
																	{% get_placeholder 'menu item' page as menu_items_txt %}
																	{% if menu_items_txt %}
																			<div>
																				{% generateimage "product_in_menu" source=menu_items_txt  %}
																				<a href="{{ product_page_url }}">{% page_attribute "menu_title" page %} </a> 
																			</div>
																	{% endif %}
																</li>
                                                                {% for child in page.get_children %}
                                                                    {% if child.in_navigation and child.published %}
                                                                        
                                                                        {% get_placeholder 'menu items' child as menu_items_txt %}
                                                                        {% if menu_items_txt %}
                                                                            {% get_menu_items_from_txt menu_items_txt as menu_items %}
                                                                        {% else %}
                                                                            {% get_page_attribute "menu_title" child as item_title %}
                                                                            {% make_dict long_name=item_title as item_dict%}
                                                                            {% make_list item_dict as menu_items %}
                                                                        {% endif %}
                                                                        
                                                                        {% for item in menu_items %}
                                                                            {% assign name='product_page_url' %}{% if child.reverse_id|slice:":10" != "redirect__" %}{% page_url child %}{% else %}{% page_url child.reverse_id|slice:"10:" %}{% endif %}{% if 'page_section' in item %}#{{ item.page_section }}{% endif %}{% endassign %}
                                                                            
                                                                            {% if 'img' in item %}
                                                                                <li {% if 'page_section' in item and item.page_section == 'eurobarrel' %} style="margin-top: 28px;" {% endif %}>
                                                                                    <a href="{{ product_page_url }}">{% if child.reverse_id != "plastic_tanks" %} {{ item.long_name }} {% else %} {{ item.name }} {% endif %} </a>
                                                                                    <div>
                                                                                        {% generateimage "product_in_menu" source=item.img  %}
                                                                                        <a href="{{ product_page_url }}">{{ item.long_name }} </a> 
                                                                                        <span>{{ item.description }} </span>
                                                                                   
                                                                                    </div>
                                                                                </li>
                                                                            {% else %}
                                                                                <li><a href="{{ product_page_url }}">{{ item.long_name }} </a> </li>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                     
                                                                {% endfor %}
                                                             </ul>
                                                            {% if not forloop.last and page.get_next_sibling.reverse_id != "product_inner" %}
                                                                {% if forloop.counter <= 2 %}
                                                                    <img src="{{ STATIC_URL }}catalog/img/separator-1.png" class="left"/>
                                                                {% elif forloop.counter > 2 %}
                                                                    <img src="{{ STATIC_URL }}catalog/img/separator-1-1.png" style="margin-top: -20px; margin-left:-5px;" class="left"/>
                                                                {% endif %}
                                                            {% endif %}
                                                            
                                                            {% if forloop.counter == 2 %}
                                                                    <br>
                                                                    <img src="{{ STATIC_URL }}catalog/img/separator-2.png" class="separator-gorizontal"/>
                                                            {% endif %}
                                                        {% endif %}

                                                    {% endfor %}
                                                <div class="stopper">
                                                    <img src="{% show_placeholder 'menu stopper' 'main' %}">
                                                </div>
                                                <br>
                                                <br>
                                            </div>		

                                        {% elif not page.is_leaf_node and page.reverse_id not in "seo_articles" %}
                                                <a class="dropdown"  href="">{% page_attribute "menu_title" page %}</a>
                                                
                                                <div class="acitem {% if request.current_page.reverse_id == 'main' %} acitem_main  {% endif %}">
                                                    <ul>
                                                        {% for child in page.get_children %}
                                                            {% if child.in_navigation %}
                                                                 <li {% if forloop.first %} class='first' {% elif forloop.last %} class='last' {% endif %} ><a href="{% page_url child %}">{% page_attribute "menu_title" child %}</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>

                                        {% elif page.in_navigation and page.reverse_id|slice:":10" == "redirect__" %}
                                                <a href="{% page_url page.reverse_id|slice:"10:" %}">{% page_attribute "menu_title" page %}</a>
                                        {% elif page.in_navigation %}
                                                <a href="{% page_url page %}">{% page_attribute "menu_title" page %}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                                
                            </ul>
                        {% endcache %} 
                        
                            <div id="menu">
                                {% cache_version request.current_page.last_publish_date as zversion %}
                                {% req_get as request_get %}
                                {% cache 0 language_panel site.pk request.current_page.pk request_get LANGUAGE_CODE cdraft zversion %}
                                    {% get_current_language as cur_lang_code %}
                                    <div class="level1 language">&nbsp;&nbsp;{{ cur_lang_code|upper }}<i></i></div>
                                    
                                    {% get_available_languages as languages %}
                                    <div class="level2 language-list">
                                        {% for lang in languages %}
                                            {% ifnotequal cur_lang_code lang.0 %}
                                                <div><a href="{% replace_url_language_code lang.0 %}">&nbsp;&nbsp;{{ lang.0|upper }}</a></div>
                                            {% endifnotequal %}
                                        {% endfor %}
                                    </div>	
                                {% endcache %}
                                
                                {% cache 0 company_panel site.pk LANGUAGE_CODE cdraft cversion request.user.is_staff %}
                                    <div class="level1 contry">{% if site.site_cutting == 'etalon_ukrhim' %}<b>ETALON</b>{% else %}{{ site.country|upper }}{% endif %}<i></i></div>
                                    {% get_sites as sites %}
                                    {% get_default_lang as default_lang %}
                                    <div class="level2 contry-list">
                                        {% for site in sites %}
                                            {% if site.site_cutting in 'ukrhim,belhim,belhimplastic,krimhim' %}
                                                <div><a href="http://{{ site.domain }}{% if LANGUAGE_CODE != default_lang %}/{{LANGUAGE_CODE}}/{% endif %}">{{ site.country_en }} - {{ site.company_en }}</a></div>
                                            {% endif %}
                                        {% endfor %}
                                        {% for site in sites %}
                                            {% if request.user.is_staff and site.site_cutting == 'etalon_ukrhim' %}
                                                <div><a href="http://{{ site.domain }}{% if LANGUAGE_CODE != default_lang %}/{{LANGUAGE_CODE}}/{% endif %}"><b>ETALON</b></a></div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endcache %}
                            </div>
                        
                    </nav>
                </header>
            {% endblock %}
            
            {% block middle %}
            {% endblock %}
            
            {% block footer %}
                {% cache 0 footer site.pk LANGUAGE_CODE cdraft if_main cversion loc %}
                    <footer {% if if_main %} class="will_fade"  {% endif %} >
                        <div class="left">
                            <p>{% show_placeholder "site company" "main" %}</p>
                            
                            {% if not if_main %} <a href="{% page_url 'main' %}">{% trans "Main" %}</a>{% endif %}
                            {% get_page "seo_articles" as seo_articles %}
                            {% if if_main and seo_articles.published %} <a href="{% page_url seo_articles %}">{% page_attribute "menu_title" seo_articles %}</a>{% endif %}
                            <a href="{% page_url 'sitemap'  %}"  class="{% if if_main and seo_articles.published or not if_main %}contact-info{% endif %}">{% trans "Site map" %}</a>
                            <a href="{% page_url 'contacts' %}" class="contact-info">{% trans "Contact Us" %}</a>
                        </div>
                        <div >
                            <ul>
                                {% show_placeholder 'footer contacts' "main" %}
                            </ul>
                        </div>
                        <div class="right">
                            <a href="{% show_placeholder 'site twitter' request.current_page.get_root %}" class="twitter"></a>
                            <a href="{% show_placeholder 'site vk' request.current_page.get_root %}" class="vk"></a>
                            <a href="{% show_placeholder 'site fb' request.current_page.get_root %}" class="fb"></a>
                            <p><a rel="nofollow" href="http://www.mart.com.ua/{% if LANGUAGE_CODE == 'en' %}en/{% endif %}">{% trans "Site created by" %}</a> — {% trans "Studio Mart" %}</p>
                        {% if site_cutting == 'ukrhim' %}
                            <p><a class='invis_hover' href="{% page_url 'dil_price' %}" style="margin-top: 15px; width:165px; height:14px; text-decoration:none; display:block;">&nbsp;<a></p>
                        {% endif %}
                        </div>
                    </footer>
                {% endcache %}
            {% endblock %}
            {% block js %}
            {% show_placeholder 'yandex metric' 'main' %}  
            {% endblock %}
            {% block js_alternating %}
            {% endblock %}
	</body>
</html>
{% endspaceless %}