{% load cms_tags adv_cache ukrhim_extras %}
{% is_draft as cdraft %}
{% get_page "main" as main %}
{% cache_version main.last_publish_date as cversion %}
{% cache 0 breadcrumbs site.pk request.current_page.pk LANGUAGE_CODE cdraft cversion %}
    {% for ance in request.current_page.get_ancestors %} 
        {% if ance.reverse_id != 'products' %}
            {% if ance.in_navigation %}
                <li><a href="{% page_url ance %}">{% page_attribute "menu_title" ance %}</a></li> <i></i>
            {% else %}
                <li>{% page_attribute "menu_title" ance %}</li> <i></i>
            {% endif %}
        {% endif %}
    {% endfor %}
    <li>{% page_attribute "menu_title" %}</li>
{% endcache %}