{% extends "base.html" %}
{% load cms_tags compress ukrhim_extras %}

{% block middle %}
{% get_page_section as section %}
<div class="middle background">
    {% get_placeholder 'menu items' request.current_page.parent as current_menu_items_txt %}  
    {% if current_menu_items_txt %}
        {% get_menu_items_from_txt current_menu_items_txt as current_menu_items %}
    {% else %}
        {% get_page_attribute "menu_title" request.current_page.parent as item_title %}
        {% make_dict name=item_title page_section=request.current_page.parent.reverse_id as item_dict%}
        {% make_list item_dict as current_menu_items %}
    {% endif %}
    {% if current_menu_items|length > 1 %}	
        <nav class="menu-left bs-docs-sidebar" id="sticker">
            <ul class="nav nav-list affix product-page instructions_menu">
                {% if not  request.current_page.parent.reverse_id == "plastic_tanks" %}
                    <li class="bold"><a href="start">{% page_attribute "menu_title" request.current_page.parent.parent %}:</a></li>
                {% endif %}
                {% for child in request.current_page.parent.parent.get_children %}
                    {% if child.in_navigation %}
                        
                        {% if child.reverse_id == request.current_page.parent.reverse_id %}
                            <li class="bold"><a href="start">{% page_attribute "menu_title" child %}:</a></li>
                            {% for item in current_menu_items %}  
                                <li><a {% if section == item.page_section %} class="current-button" {% endif %} href="{% page_url child %}#{{ item.page_section }}">{{ item.name}}</a> </li>
                            {% endfor %}
                        {% else %}        
                            {% get_placeholder 'menu items' child as menu_items_txt %} 
                            {% if menu_items_txt %}
                                {% get_menu_items_from_txt menu_items_txt as menu_items %}
                            {% else %}
                                {% get_page_attribute "menu_title" child as item_title %}
                                {% make_dict name=item_title as item_dict%}
                                {% make_list item_dict as menu_items %}
                            {% endif %}
                            {% for item in menu_items %}
                                <li><a href="{% page_url child %}{% if 'page_section' in item %}#{{ item.page_section }}{% endif %}">{{ item.name }}</a></li>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                        
                {% endfor %}
            </ul>
            {% show_placeholder 'left block under menu' request.current_page.parent %}
        </nav>
    {% else %}
        <nav class="menu-left" id="sticker">
            <ul class="product-menu instructions_menu">
                 <li class="bold">{% page_attribute "menu_title" request.current_page.parent.parent %}:</li>
                {% for child in request.current_page.parent.parent.get_children %}
                   
                    {% if child.in_navigation %}
                        {% if child.reverse_id == request.current_page.parent.reverse_id %}
                           
                            {% for item in current_menu_items %}
                                <li><a class="current-button" href="{% page_url child %}">{{ item.name }}</a></li>
                            {% endfor %}
                        
                        {% else %}        
                            {% get_placeholder 'menu items' child as menu_items_txt %} 
                            {% if menu_items_txt %}
                                {% get_menu_items_from_txt menu_items_txt as menu_items %}
                            {% else %}
                                {% get_page_attribute "menu_title" child as item_title %}
                                {% make_dict name=item_title as item_dict%}
                                {% make_list item_dict as menu_items %}
                            {% endif %}
                            {% for item in menu_items %}
                                <li><a  href="{% page_url child %}{% if 'page_section' in item %}#{{ item.page_section }}{% endif %}">{{ item.name }}</a></li>
                            {% endfor %}
                        {% endif %}
                    {% endif %}                            
                {% endfor %}

        
            </ul>
            {% show_placeholder 'left block under menu' request.current_page.parent %}
        </nav>
    {% endif %}
	<div class="main-block right">
        <ul class="bread-crumbs">
            {% include 'breadcrumb.html' %}
        </ul>
        <h1 id="start">{% page_attribute "title" request.current_page %}</h1>
        {% placeholder "content" %}
    </div>
    <br />		
	</div>
	<br />
{% endblock %}

{% block js %}
	{{ block.super }}
	{% include 'scroll_move_js.html' %}
{% endblock %}