{% extends "base.html" %}
{% load cms_tags compress %}

{% block middle %}
	{% placeholder "middle" %}
{% endblock %}

{% block js %}
	{{ block.super }}
	{% include 'gall_js.html' %}
	{% compress js %}
		<script>
            

            
            $('a.show_gmap').magnificPopup({ 
            
            
            type: 'iframe', 
            
            g_map_cont : {
              markup: '<div class="mfp-iframe-scaler">'+
                        '<div class="mfp-close"></div>'+
                        '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
                      '</div>',

              patterns: {

                gmaps: {
                  index: '//maps.google.',
                  src: '%id%',
                  id: function (url) {return url;}
                }


            },

              srcAction: 'iframe_src'
            }
            
                });
                
                
            $('a.show_ymap').magnificPopup({ 
            
            
            type: 'iframe', 
            
            y_map_cont : {
              markup: '<div class="mfp-iframe-scaler">'+
                        '<div class="mfp-close"></div>'+
                        '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
                      '</div>',

              patterns: {

                gmaps: {
                  index: 'ymap',
                  src: '%id%',
                  id: function (url) {return url;}
                }


            },

              srcAction: 'iframe_src'
            }
            
                });
                
                
            
        </script>
	{% endcompress %}
{% endblock %}

{% block css %}
	{{ block.super }}
	{% include 'gall_css.html' %}
{% endblock %}