{% extends "base.html" %}
{% load cms_tags sekizai_tags compress i18n %}

{% block common_input %}
	{% placeholder "logo" %}
	{% placeholder "slogan" %}
	{% placeholder "site company" %}
	{% placeholder "site twitter" %}
	{% placeholder "site vk" %}
	{% placeholder "site fb" %}
    {% placeholder "site right header" %}
    {% placeholder "footer contacts" %}
    {% placeholder "price phone" %}
    {% placeholder "price email" %}
    {% placeholder "delivery" %}
    {% placeholder "buy popup" %}
    {% placeholder "menu stopper" %}
    {% placeholder "google analitycs" %}
    {% placeholder "yandex metric" %}
    {% trans 'Load files' %}
{% endblock %}

{% block css %}
     <style>body, html { height: 100%; }</style>
    {{ block.super }}
{% endblock %}

{% block header %}
    <div class="header_and_middle">
    {{ block.super }}
{% endblock %}

{% block meta %}
    {{ block.super }}
    {% placeholder "google site verification" %}
    {% placeholder "yandex site verification" %}
{% endblock %}

{% block middle %}
        <br />
        <div class="middle">
            <div id='slider_bg_fade' style="display:none"><img src="{{ STATIC_URL }}catalog/img/fon-slider.jpg?b57acbfc28f8"></div>
            <div class="slider" id="will_fade_slider">
                <div id="slides">
                    {% placeholder "slider slides" %}
                    <a href="#" class="slidesjs-previous slidesjs-navigation arrow-left"></a>
                    <a href="#" class="slidesjs-next slidesjs-navigation arrow-right"></a>
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
        

{% endblock %}

{% block footer %}
    <div class="footer-sticky">
        <div class="directions">
                <h2><span class='will_fade'>{% placeholder "work directions header" %}</span></h2>
                <div class="middle will_fade">
                    {% placeholder "work direction 1" %}
                    <img width="3" src="{{ STATIC_URL }}catalog/img/separator.png" />
                    {% placeholder "work direction 2" %}
                    <img width="3" src="{{ STATIC_URL }}catalog/img/separator.png" />
                    {% placeholder "work direction 3" %}
                    <img width="3" src="{{ STATIC_URL }}catalog/img/separator.png" />
                    {% placeholder "work direction 4" %}		
                </div>
        </div>
        <div class="main-footer">
            {{ block.super }} 
        </div>
    </div>
{% endblock %}

{% block js %}
	{{ block.super }}
	{% compress js %}
		<script src="{{ STATIC_URL }}catalog/js/jquery.slides.min.js"></script>
		<script>
			$(function() { 
                $('#slides').slidesjs({
                    width: 940,
                    height: 528,
                    navigation: false,
                    play: {
                      active: false,
                        // [boolean] Generate the play and stop buttons.
                        // You cannot use your own buttons. Sorry.
                      effect: "slide",
                        // [string] Can be either "slide" or "fade".
                      interval: 7000,
                        // [number] Time spent on each slide in milliseconds.
                      auto: true,
                        // [boolean] Start playing the slideshow on load.
                      swap: false,
                        // [boolean] show/hide stop and play buttons
                      pauseOnHover: false,
                        // [boolean] pause a playing slideshow on hover
                      restartDelay: 2500
                        // [number] restart delay on inactive slideshow
                    },
                    effect: {
                          slide: {
                            // Slide effect settings.
                            speed: 1320
                              // [number] Speed in milliseconds of the slide animation.
                          }
                      }
                    });
            
			});
            
           $(function() {  $('.look_products').click(function(e) { e.preventDefault(); $('#products_button').click()}) });
           
           
           
           $(function() {
               function show_all_slow()
                        {
                            imagesLoaded('#will_fade_logo', function() {  
                                $('#will_fade_logo').addClass('logo_transitions');
                                $('#will_fade_logo').css('visibility','visible').hide().fadeIn(1200); 
                                $('#will_fade_logo').css('-webkit-transform','rotate(0deg)');
                                $('#will_fade_logo').css('-moz-transform','rotate(0deg)');
                                $('#will_fade_logo').css('-ms-transform','rotate(0deg)');
                                $('#will_fade_logo').css('-o-transform','rotate(0deg)');
                                $('#will_fade_logo').css('transform','rotate(0deg)');                                 
                            
                            } );
                            
                            setTimeout( function() {
                                $('.will_fade').css('visibility','visible').hide().fadeIn(2000,'linear');  
                                $('.menu-block').css('transition', 'width 1.1s linear');
                                $('.menu-block').css('width', '1005px');
                                time=200;
                                $('.menu-item-1').delay(time).fadeIn('slow');
                                time=time+240;
                                $('.menu-item-2').delay(time).fadeIn('slow');
                                time=time+240;
                                $('.menu-item-3').delay(time).fadeIn('slow');
                                time=time+220;
                                $('.menu-item-4').delay(time).fadeIn('slow');
                                time=time+200;
                                $('.menu-item-5').delay(time).fadeIn('slow');
                                time=time+200;
                                $('.menu-item-6').delay(time).fadeIn('slow');
                                time=time+200;
                                $('.menu-item-7').delay(time).fadeIn('slow');
                                time=time+200;
                                $('.menu-item-8').delay(time).fadeIn('slow');
                                time=time+200;
                                $('.menu-item-9').delay(time).fadeIn('slow')
                            }, 2000);
                            
                            setTimeout( function() {
                                imagesLoaded('#slider_bg_fade', function() {
                                   $('#will_fade_slider').css('visibility','visible').hide().fadeIn(2000,'linear'); 
                                } );
                                imagesLoaded('#wf-1', function() {
                                   $('#wf-1').css('visibility','visible').hide().fadeIn(2000,'linear'); 
                                } );
                                imagesLoaded('#wf-2', function() {
                                   $('#wf-2').css('visibility','visible').hide().fadeIn(2000,'linear'); 
                                } );
                                imagesLoaded('#wf-3', function() {
                                   $('#wf-3').css('visibility','visible').hide().fadeIn(2000,'linear'); 
                                } );
                                imagesLoaded('#wf-4', function() {
                                   $('#wf-4').css('visibility','visible').hide().fadeIn(2000,'linear'); 
                                } );
                                imagesLoaded('#wf-5', function() {
                                   $('#wf-5').css('visibility','visible').hide().fadeIn(2000,'linear'); 
                                } );
                                imagesLoaded('#wf-6', function() {
                                   $('#wf-6').css('visibility','visible').hide().fadeIn(2000,'linear'); 
                                } );
                            }, 2000)

                            
                            
                            
                        }
                        
                        function show_all_fast()
                        {
                            
                            
                              
                            
                            imagesLoaded('#will_fade_logo',function() {  
                       
                                $('#will_fade_logo').css('visibility','visible').hide().fadeIn(1000,'linear');  
                            
                            } );
                            
                            //$('.menu-block').css('transition', 'width 1.1s linear') //menu go
                            
                            $('.will_fade').css('visibility','visible').hide().fadeIn(1000,'linear'); 
                            
                            $('.menu-block').css('width', '1005px'); //menu go
                            /*
                            time=400
                            $('.menu-item-1').delay(time).fadeIn('slow')
                            time=time+200
                            $('.menu-item-2').delay(time).fadeIn('slow')
                            time=time+200
                            $('.menu-item-3').delay(time).fadeIn('slow')
                            time=time+200
                            $('.menu-item-4').delay(time).fadeIn('slow')
                            time=time+200
                            $('.menu-item-5').delay(time).fadeIn('slow')
                            time=time+200
                            $('.menu-item-6').delay(time).fadeIn('slow')
                            time=time+200
                            $('.menu-item-7').delay(time).fadeIn('slow') */ //menu go
                            
                            $('.menu-item-1').fadeIn(1000,'linear');
                           
                            $('.menu-item-2').fadeIn(1000,'linear');
                          
                            $('.menu-item-3').fadeIn(1000,'linear');
                           
                            $('.menu-item-4').fadeIn(1000,'linear');
                           
                            $('.menu-item-5').fadeIn(1000,'linear');
                          
                            $('.menu-item-6').fadeIn(1000,'linear');
                           
                            $('.menu-item-7').fadeIn(1000,'linear');
                            
                            $('.menu-item-8').fadeIn(1000,'linear');
                            
                            $('.menu-item-9').fadeIn(1000,'linear');
                            
                            imagesLoaded('#slider_bg_fade', function() {
                               $('#will_fade_slider').css('visibility','visible').hide().fadeIn(1000,'linear'); 
                            } );
                            imagesLoaded('#wf-1', function() {
                               $('#wf-1').css('visibility','visible').hide().fadeIn(1000,'linear'); 
                            } );
                            imagesLoaded('#wf-2', function() {
                               $('#wf-2').css('visibility','visible').hide().fadeIn(1000,'linear'); 
                            } );
                            imagesLoaded('#wf-3', function() {
                               $('#wf-3').css('visibility','visible').hide().fadeIn(1000,'linear'); 
                            } );
                            imagesLoaded('#wf-4', function() {
                               $('#wf-4').css('visibility','visible').hide().fadeIn(1000,'linear'); 
                            } );
                            imagesLoaded('#wf-5', function() {
                               $('#wf-5').css('visibility','visible').hide().fadeIn(1000,'linear'); 
                            } );
                            imagesLoaded('#wf-6', function() {
                               $('#wf-6').css('visibility','visible').hide().fadeIn(1000,'linear'); 
                            } );
                            
                           
                            
                           
                            
                            
                            
                        }
                        
                        
                        if (visit_num<2)
                        {
                            show_all_slow()
                        }
                        else
                        {
                            show_all_fast()
                        }
                })
                
                
        </script>
	{% endcompress %}
{% endblock %}	
