{% extends "base.html" %}
{% load cms_tags ukrhim_extras assign i18n imagekit %}

{% block options %}
	{% placeholder "news start year" %}
{% endblock %}

{% block middle %}
    {% get_page "news_list" as news_list %}
	<div class="middle background">
		<nav class="menu-left" id="sticker">
            <ul class="about_us_menu">
                {% get_page "about_us" as about_us_page %}        
                 {% for child in about_us_page.get_children %}
                    {% if child.in_navigation %}
                        {% page_attribute "menu_title" child  as menu_title %}
					    <li><a href="{% page_url child %}" class="{% if child.reverse_id == 'news_list' %}current-button{% endif %} {% if menu_title|length|intify > 21 %} two-row {% endif %}">{{ menu_title }}</a></li>
                    {% endif %}
				{% endfor %}
            </ul>
			<p class="green">{% trans "Archive" %}</p>
			<ul>{% assign name="now_year" %}{% now "Y" %}{% endassign %}
				{% get_placeholder "news start year" news_list as first_year %}
				{% mkrange first_year|intify|add:"-1" now_year as year_range %} 
				{% for year in year_range %} 
					<li><a {% if "year" in request.GET and request.GET.year == year|slugify %} class="archive-button"  {% endif %} href="{% page_url news_list %}?year={{ year }}">{{ year }}</a></li>
				{% endfor %}
			</ul>
		</nav>
		
		<div class="right-block will_fade">  
                
				{% for share in request.current_page.get_children %}
							{% if share.in_navigation and share.published and share.template == 'share.html' %}
								{% show_placeholder 'list heading block' share %}
							{% endif %}
				{% endfor %}
		</div>
		
		<div class="center-block will_fade">
			<ul class="bread-crumbs">
				{% bread_crumbs %}
			</ul>
			{% block content %}
			<h1>{% page_attribute "title" request.current_page %}</h1>
			
				{% if "year" in request.GET %}
					{% for news in request.current_page.get_children %}
						{% if news.template == 'news.html' and news.in_navigation and news.published %}
							{% get_placeholder 'date' news as news_date %}
							{% if news_date|slice:'-5:'|slugify == request.GET.year|slugify and news.in_navigation %}
								<div class="news-item">
									<p>{{ news_date }}</p>
                                    
                                    {% get_placeholder 'picture' news as pic %}
									{% if pic %}
                                        {% generateimage "news_pic_news_list" source=pic %}
                                    {% endif %}
									<a href="{% page_url news %}">{% show_placeholder 'list heading text' news %}</a>
								</div>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% else %}
					{% for news in request.current_page.get_children %}
							{% if news.in_navigation and news.template == 'news.html'  and news.in_navigation and news.published  %}
								<div class="news-item">
									<p>{% show_placeholder 'date' news %}</p>
									{% get_placeholder 'picture' news as pic %}
                                    {% if pic %}
                                        {% generateimage "news_pic_news_list" source=pic %}
                                    {% endif %}
									<a href="{% page_url news %}">{% show_placeholder 'list heading text' news %}</a>
								</div>
							{% endif %}
					{% endfor %}
				{% endif %}
			{% endblock %}	
			
		</div>
		<br />
	</div>
	<br />
{% endblock %}

{% block js %}
	{{ block.super }}
	{% include 'scroll_move_js.html' %}
{% endblock %}