{% extends "product_category.html" %}
{% load cms_tags compress ukrhim_extras adv_cache assign i18n %}

{% block middle %}
    {% assign name="left_menu" %}
        {% cache_version request.current_page.parent.child_last_publish_date as cversion %}
        {% cache 0 left_menu site.pk request.current_page.pk LANGUAGE_CODE cdraft cversion %}
            {% include 'left_product_menu.html' %}
        {% endcache %}
    {% endassign %}
    {% count_min_height left_menu 18 120 as min_height %} 
    <div class="middle background  container"  style="min-height: {{ min_height }}px;">
    {{ left_menu }}
    {% compress js inline %}
        <script>
            $(document).ready(function(){ if ($(window).height()>{{ min_height }}) { $('.menu-left').attr('id','sticker'); $('.menu-left>ul').addClass('nav-list') } });
            $(document).ready(function(){metrikaReach('product_type_page');var _gaq = _gaq || [];_gaq.push(['_trackEvent', 'product_type_page', 'product_type_page', '{{ request.current_page.reverse_id }}'])});

         </script>
    {% endcompress %}
    <div class="main-block right will_fade">
        <ul class="bread-crumbs">
            {% if request.current_page.parent.parent.reverse_id == 'products_seo' %}
                 <li><a href="{% page_url 'main' %}">{% page_attribute "menu_title" 'main' %}</a></li> <i></i>
                 <li><a href="{% page_url 'plastic_tanks' %}">{% page_attribute "menu_title" 'plastic_tanks' %}</a></li> <i></i>
                 <li>{% page_attribute "menu_title" %}</li>
            {% else %}
                {% include 'breadcrumb.html' %}
            {% endif %}
        </ul>
        {% block type_title %}
            <h1 id="start">{% page_attribute "title" request.current_page %}</h1>
        {% endblock %}
        {% block cached_content %}
            {% get_lastchng_prdt current_menu_items as type_changed %}
            {% cache_version request.current_page.last_publish_date as cversion %}
            {% maximum_val type_changed cversion as tversion %}
            {% if not cdraft %}
                {% cache 0  'product_content' request.current_page.pk site.pk LANGUAGE_CODE tversion %}
                    {% placeholder "content" %}
                {% endcache %}
            {% else %}
                {% placeholder "content" %}
            {% endif %}
        {% endblock %}
    </div>
    <br />
   
	</div>
	<br />
  
{% endblock %}

{% block options %}
    {% placeholder "menu items" %}
{% endblock %}