.menu-item-1{width:111px;}
.menu-item-2{width:184px;}
.menu-item-3{width:141px;}
.menu-item-4{width:68px;}
.menu-item-5{width:80px;}
.menu-item-6{width:101px;}
.menu-item-7{width:36px;}

.menu-item-2 .acitem{margin-left:-111px;}
.menu-item-3 .acitem{margin-left:-295px;}
.menu-item-4 .acitem{margin-left:-436px;}
.menu-item-5 .acitem{margin-left:-504px;}
.menu-item-6 .acitem{margin-left:-584px;}
.menu-item-7 .acitem{margin-left:-685px;}