*{margin:0;padding:0;}
@font-face {font-family: PT Sans;src: url(fonts/PTS55F.ttf);}
@font-face {font-family: pfagorasanspro-light;src: url(fonts/pfagorasanspro-light.ttf);}

header, footer, .middle {margin:auto; width:1024px;}	
body{background:url(img/fon.png) repeat-x, url(img/fon.jpg) repeat; font-family: 'PT Sans', Myriad Pro, sans-serif;min-width:1024px;}

footer{color:#fff;font-size:12px;text-align:center;padding:35px 0;line-height:20px;}
footer div {display:inline-block;vertical-align:top;text-align:left;}
footer a {color:#fff;}
footer p {color:#fff;}

img {border:0;}
br {clear:both;}
h1 {color:#0182b2;font-size:26px;font-weight:normal;}
ul {list-style:none;}

i, form#search a, .contry i, .language i, .twitter, .vk , .fb, .arrow-left, .arrow-right, .popup a.close, .play-arrow {background:url(img/icons.png);vertical-align:middle;display:inline-block;text-align:center;text-decoration:none;}

.left {float:left;}
.right {float:right;}

.green {color:#359418;font-size:24px;}

.last {margin-right:0!important;border-bottom:0!important;}

a:hover {color:#0182b2!important;text-decoration:none;text-shadow:none!important;}

form#search{ position:relative;width: 226px;float:right;margin-top:65px;}
form#search a {background-position: -6px -61px; display: block; height: 30px;  position: absolute; right: 5px; top: 0; width: 30px;opacity:0.5;}
form#search:hover a{opacity:1;}
input {outline: none;}
input[type=search] {width: 190px; -webkit-appearance: textfield; -webkit-box-sizing: content-box; font-family: inherit;font-size: 100%; font-style:italic;border: none; padding: 5px 25px 8px 10px; -webkit-border-radius:5px; -moz-border-radius: 5px; border-radius: 5px;font-size:12px;background: linear-gradient(top, #e0e0e0, #fefefe);background: -webkit-linear-gradient(top, #e0e0e0, #fefefe);background: -moz-linear-gradient(top, #e0e0e0, #fefefe);background: -o-linear-gradient(top, #e0e0e0, #fefefe); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#fefefe',GradientType=0);box-shadow:0px -1px 2px grey;color:#999;behavior: url(PIE.htc);}
input::-webkit-search-decoration,input::-webkit-search-cancel-button { display: none;}
input[type=search]:focus {color:#000;}

.logo {float:left;margin-top:30px;}
.slogan {color:#389fd7; font-size:18px; width:300px; font-family: 'pfagorasanspro-light', sans-serif;float:left;margin:60px 113px 50px 40px;}

.menu-block {clear:both; border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;background: linear-gradient(top, #fefefe, #d7d7d7);background: -webkit-linear-gradient(top, #fefefe, #d7d7d7);background: -moz-linear-gradient(top, #fefefe, #d7d7d7);background: -o-linear-gradient(top, #fefefe, #d7d7d7); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#d7d7d7',GradientType=0);box-shadow:0px 1px 2px #555;text-transform:uppercase;height:44px;}

.menu-block img {margin:0 -6px;}
.menu-block a {text-decoration:none;padding:15px 12px 14px;display:inline-block;color:#000;font-size:12px;vertical-align: top;} 
.menu-block li {float:left;}
.menu-block li a {background:url(img/separator-menu.png) top left no-repeat;margin-left:-2px;

font-family:arial, sans-serif;font-size:12px;}

.menu-block .product-item { padding-left:28px;border-radius:5px 0 0 5px;height:15px;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#bababa',GradientType=0);background: linear-gradient(top, #fdfdfd, #bababa);background: -webkit-linear-gradient(top, #fdfdfd, #bababa);background: -moz-linear-gradient(top, #fdfdfd, #bababa);background: -o-linear-gradient(top, #fdfdfd, #bababa);}

.menu-block .acitem{clear:both;width:1024px;box-shadow:0 2px 5px rgba(0, 0, 0, 0.42);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#d9d9d9',GradientType=0);background: linear-gradient(top, #f4f4f4, #d9d9d9);background: -webkit-linear-gradient(top, #f4f4f4, #d9d9d9);background: -moz-linear-gradient(top, #f4f4f4, #d9d9d9);background: -o-linear-gradient(top, #f4f4f4, #d9d9d9);margin-top:11px;border-radius:6px;position:relative;padding:25px 0;margin-bottom:10px;z-index:100;} /*стили для выпающих блоков меню*/

.menu-item-1{width:114px;} /*ширина первого пункта меню*/

.menu-item-2 .acitem, .menu-item-4 .acitem, .menu-item-6 .acitem {width:auto;position:absolute;padding:0;}
.menu-item-2 .acitem ul, .menu-item-4 .acitem ul, .menu-item-6 .acitem ul {margin:0;}
.menu-item-2 .acitem li, .menu-item-4 .acitem li, .menu-item-6 .acitem li{border-bottom:1px solid #bbb;}
.menu-item-2 .acitem .last, .menu-item-4 .acitem .last, .menu-item-6 .acitem .last {border-radius:0 0 6px 6px}
.menu-item-2 .acitem .first, .menu-item-4 .acitem .first, .menu-item-6 .acitem .first {border-radius:6px 6px 0 0}
.menu-item-2 .acitem li:hover, .menu-item-4 .acitem li:hover, .menu-item-6 .acitem li:hover{color:#252525!important;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#dadada',GradientType=0)!important;background: linear-gradient(top, #b3b3b3, #dadada)!important;background: -webkit-linear-gradient(top, #b3b3b3, #dadada)!important;background: -moz-linear-gradient(top, #b3b3b3, #dadada)!important;background: -o-linear-gradient(top, #b3b3b3, #dadada)!important;}
.menu-item-2 .acitem a, .menu-item-4 .acitem a, .menu-item-6 .acitem a{margin-left:0;}
.menu-item-2 .acitem li:hover a, .menu-item-4 .acitem li:hover a, .menu-item-6 .acitem li:hover a{box-shadow:0 0 0 rgba(0, 0, 0, 0.53);background:none;}

.menu-item-2 .acitem{margin-left:-75px;}
.menu-item-4 .acitem{margin-left:-71px;}
.menu-item-6 .acitem{margin-left:-21px;}

.acitem:after, .acitem:before  {content: '';position: absolute;top: -10px;left:46px;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #f4f4f4}
.menu-item-2 .acitem:after, .menu-item-2 .acitem:before {left:160px;}
.menu-item-4 .acitem:after, .menu-item-4 .acitem:before {left:90px;}
.menu-item-6 .acitem:after, .menu-item-6 .acitem:before {left:60px;}

.acitem ul {margin:0 28px;}
.acitem li {float:none;text-transform:none;}
.acitem a {color:#424242;text-decoration:none;font-size:14px!important;background:none!important;padding:5px 10px;font-family: 'PT Sans', Myriad Pro, sans-serif!important;}
.acitem .item-title {font-weight:bold;margin-left:-5px;margin-bottom:10px;color:#343434;font-size:15px;font-family: 'PT Sans', Myriad Pro, sans-serif;}

.acitem a:hover {color:#252525!important;border-radius:5px;box-shadow:0 1px 2px rgba(0, 0, 0, 0.53);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#dadada',GradientType=0)!important;background: linear-gradient(top, #b3b3b3, #dadada)!important;background: -webkit-linear-gradient(top, #b3b3b3, #dadada)!important;background: -moz-linear-gradient(top, #b3b3b3, #dadada)!important;background: -o-linear-gradient(top, #b3b3b3, #dadada)!important;}

.acitem li:hover div {visibility:visible;}

.acitem li div {text-align:center;visibility:hidden;position:absolute;top:35px;right:35px;}
.acitem li div img {box-shadow:0 0 5px rgba(0, 0, 0, 0.25);}
.acitem li div a {display:block;font-size:16px;font-weight:bold;color:#424242;text-transform:none;}

.contry, .language {text-transform:none;float:right;border-radius:6px;position:relative;display:inline-block;-ms-border-radius:6px;-o-border-radius:6px;-moz-border-radius:6px;width:125px;padding:7px 6px!important;box-shadow:0 0 3px rgba(24, 132, 164, 0.7);margin-top:7px;background: linear-gradient(top, #fefefe, #d7d7d7);background: -webkit-linear-gradient(top, #fefefe, #d7d7d7);background: -moz-linear-gradient(top, #fefefe, #d7d7d7);background: -o-linear-gradient(top, #fefefe, #d7d7d7);background: -ms-linear-gradient(top, #fefefe, #d7d7d7);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#d7d7d7',GradientType=0);behavior: url(PIE.htc)}
.contry:hover, .language:hover {box-shadow:0 0 1px rgba(24, 132, 164, 0.7);background: linear-gradient(top, #d7d7d7, #fefefe);background: -webkit-linear-gradient(top, #d7d7d7, #fefefe);background: -moz-linear-gradient(top, #d7d7d7, #fefefe);background: -o-linear-gradient(top, #d7d7d7, #fefefe);background: -ms-linear-gradient(top, #d7d7d7, #fefefe);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7d7d7', endColorstr='#fefefe',GradientType=0);behavior: url(PIE.htc)}
.language {width:35px!important;margin-left:6px!important;margin-right:8px;}
.contry i, .language i { width:10px;height:12px;background-position:-42px -68px;float:right; margin:2px 6px 2px 2px;}
.language i {margin:2px 0;}

.menu-block .current {box-shadow:inset 0 1px 4px rgba(0, 0, 0, 0.6);background: linear-gradient(top, #fdfdfd, #bababa);background: -webkit-linear-gradient(top, #fdfdfd, #bababa);;background: -moz-linear-gradient(top, #fdfdfd, #bababa);;background: -o-linear-gradient(top, #fdfdfd, #bababa); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#bababa',GradientType=0);}
.menu-block a:hover {box-shadow:inset 0 1px 4px rgba(0, 0, 0, 0.6);}

.slider {margin-top:35px;border-radius:6px;background:url(img/fon-slider.jpg);box-shadow:0 0 5px #215f8d;padding:15px 0px 10px 8px;position:relative;}
.slider h1 {display:inline-block;margin-left:15px;}

.all-products {text-decoration:none; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbffc0', endColorstr='#92d661',GradientType=0);background: linear-gradient(top, #dbffc0, #92d661);background: -webkit-linear-gradient(top, #dbffc0, #92d661);background: -moz-linear-gradient(top, #dbffc0, #92d661);background: -o-linear-gradient(top, #dbffc0, #92d661);border-radius:5px;color:#457567;display:inline-block;box-shadow:0 0 3px rgba(0, 0, 0, 0.5);text-shadow:0 1px 1px rgba(100%, 100%, 100%, 0.68);font-size:12px;padding:8px 14px;float:right;margin:2px 17px 0;}
.all-products:hover {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92d661', endColorstr='#dbffc0',GradientType=0);background: linear-gradient(top, #92d661, #dbffc0);background: -webkit-linear-gradient(top, #92d661, #dbffc0);background: -moz-linear-gradient(top, #92d661, #dbffc0);background: -o-linear-gradient(top, #92d661, #dbffc0);box-shadow:0 0 1px rgba(0, 0, 0, 0.5);}

.arrow-left {background-position:-38px -345px;width:25px;height:35px;position:absolute;top:47%;left:-35px;}
.arrow-right {background-position:-140px -345px;width:25px;height:35px;position:absolute;top:47%;right:-35px;}

.arrow-left:hover {background-position:-36px -252px;}
.arrow-right:hover {background-position:-139px -252px;}

.gallery {text-align:center;}
.gallery h1 {float:left;}

.gallery-item {border-radius:5px;text-decoration:none;color:#fff;display:inline-block;display:inline-block;height:245px;text-align:center;margin:20px 6px;font-size:13px;box-shadow:0 0 3px #28aee0;vertical-align:top}
.gallery-item:hover {color:#fff!important;text-decoration:underline!important;box-shadow:0 0 8px #1E4FEB;}
.gallery-item img {border-radius:5px;margin-bottom:5px;}
.gallery-item div {background: linear-gradient(top, #4cc427, #238206);background: -webkit-linear-gradient(top, #4cc427, #238206);background: -moz-linear-gradient(top, #4cc427, #238206);background: -o-linear-gradient(top, #4cc427, #238206); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cc427', endColorstr='#238206',GradientType=0);border-radius:0 0 5px 5px;height:30px;margin-top:-19px;padding-top:20px;}
.gallery-item .different {padding-top:13px;height:37px;}

.directions {background: linear-gradient(top, #fff, #eaf5f9);background: -webkit-linear-gradient(top, #fff, #eaf5f9);background: -moz-linear-gradient(top, #fff, #eaf5f9);background: -o-linear-gradient(top, #fff, #eaf5f9); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaf5f9',GradientType=0);position:relative;margin-top:59px;}
.directions h1 {padding:6px 25px;border-radius:9px;text-align:center;display:inline-block;margin-left:-214px;position:absolute;left:50%;top:-37px;background:#fff;}
.directions img {margin:10px 7px;}
.directions-item {font-size:13px;display:inline-block;width:230px;margin:40px 0 50px;line-height:22px;vertical-align:top;}
.directions-item .title {color:#015f83;font-size:16px;line-height:18px;}

.development-new-products {background-position:-315px -4px;width:50px;height:50px;float:left;margin:0 15px 10px 0;}
.engineering-products {background-position:-389px -71px;width:50px;height:50px;float:left;margin:0 15px 10px 0;}
.form-to-order {background-position:-315px -70px;width:50px;height:50px;float:left;margin:0 15px 10px 0;}
.parts-for-vehicles {background-position:-389px -10px;width:65px;height:50px;float:left;margin:0 15px 10px 0;}

.main-footer {background: linear-gradient(top, #cae5ef, #7abed8);background: -webkit-linear-gradient(top, #cae5ef, #7abed8);;background: -moz-linear-gradient(top, #cae5ef, #7abed8);;background: -o-linear-gradient(top, #cae5ef, #7abed8); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae5ef', endColorstr='#7abed8',GradientType=0);}
.main-footer footer a, .main-footer footer ul {color:#106585;}
.main-footer footer p {color:#000;}

.contact-info  {margin-left:20px;}

.twitter {background-position:-163px -17px; width:30px;height:30px;opacity:0.6;margin-bottom:12px;}
.vk {background-position:-217px -17px; width:30px;height:30px;opacity:0.6;margin:0 30px 12px;}
.fb {background-position:-274px -17px; width:30px;height:30px;opacity:0.6;margin-bottom:12px;}

.twitter:hover, .vk:hover, .fb:hover {opacity:0.99;}

/************ 2-новости ************/

.background {background:url(img/fon-1.jpg) repeat-x #fff;border-radius:6px;margin-top:5px;padding:25px 35px 60px;width:954px;position:relative;clear:both;}

.menu-left {margin-right:20px;font-size:14px;display:inline-block;vertical-align:top;width:176px;margin-top: 10px;}
.menu-left a {color:#707070;}
.menu-left li {margin-top:13px;}
.current-button {border-radius:6px;background:#217db2;color:#fff!important;text-decoration:none;padding:5px 10px;display:inline-block;margin-left:-10px;border:0!important;}
.current-button:hover {color:#ddd!important;box-shadow:0 0 3px rgba(0, 0, 0, 0.35);}

.menu-left .green {font-size:24px;margin:35px 0 10px -10px;}
.archive-button {margin-left:-10px;border-radius:6px;background:#2a702b;color:#fff!important;text-decoration:none;padding:5px 14px;}

.center-block{display:inline-block;vertical-align:top;margin-bottom:70px;width:500px;}
.center-block h1, .main-block h1, .background h1{font-size:36px;clear:both;line-height: 30px;margin-top:30px;}

.bread-crumbs a {color:#575b5f;}
.bread-crumbs li {float:left;color:#575b5f;font-size:13px;margin-bottom:10px;}
.bread-crumbs i {float:left; background-position:-62px -66px;width:15px;height:15px;margin:1px 5px 5px 6px;}

.news-item {margin-top:20px;}
.news-item p {color:#686868;font-size:12px;display:inline-block;vertical-align:top;}
.news-item img {border-radius:5px;vertical-align:top;margin:0 20px;border:1px solid #e5e5e5;}
.news-item a {display:inline-block;font-size:15px;color:#0182b2;vertical-align:top;width:290px;line-height:22px; }

.right-block {display:inline-block;vertical-align:top;margin: 115px 0 50px 15px;text-align:center;font-size:15px;width:230px;}
.right-block  div {border-radius:6px;background:#d3e9f9;padding:15px 0;margin-right:-5px;}
.right-block  div p {color:#686868;font-size:12px;padding:0 65px;}
.right-block a {color:#0182b2;padding:10px 35px;display:block;}

.grey {background:#e9eddf!important;margin-top:50px;}

/************ 3-продукция_внутренняя ************/

.main-block{display:inline-block;vertical-align:top;width:750px;}

.underline {text-decoration:underline!important;}

.about {color:#3d3d3d;font-size:15px;margin:30px 0;}
.foto-product {margin-left:30px;}

h3 {color:#575b5f;font-size:16px;}

.features {font-size:14px;color:#575b5f;line-height:24px;margin-left:15px;}
.features .price {font-size:24px;color:#3b8a37;margin-top:30px;}

.category { background: linear-gradient(top, #fbfbfb, #e5e5e5);background: -webkit-linear-gradient(top, #fbfbfb, #e5e5e5);background: -moz-linear-gradient(top, #fbfbfb, #e5e5e5);background: -o-linear-gradient(top, #fbfbfb, #e5e5e5); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#e5e5e5',GradientType=0);margin-top:55px;}
.category li {float:left;margin-left:10px;}
.category a{padding:6px 16px 10px;color:#217db2;font-size:14px;display:block;margin-left:10px;}

.panel p {margin-top:45px;text-align:center;}

.gallery-product {text-decoration:none;}
.gallery-product:hover img {box-shadow:0 0 1px rgba(0, 0, 0, 0.3);border:6px solid #eee;}
.gallery-product img {border:6px solid #fff;box-shadow:0 0 5px rgba(0, 0, 0, 0.3);margin:10px 2px;}
.gallery-product .last {margin:10px 0 10px 2px;border-bottom:6px solid #fff!important;}
.gallery-product:hover .last {border-bottom:6px solid #eee!important;}

/************ 4-прайс-листы ************/

.price-item {margin:25px 0 5px 0;display:inline-block;width:460px;}
.price-item img, .forms-sale img {border:6px solid #fff;box-shadow:0 0 5px rgba(0, 0, 0, 0.3);float:left;margin-right:15px;}
.price-item .name{line-height:24px;color:#1f1f1f;font-size:18px;font-weight:bold;}
.price-item .description {line-height:24px;color:#686868;font-size:15px;}
.price-item .download {margin-top:17px;}

.download a {color:#0182b2;font-size:15px;}
.pdf {background-position:-466px -13px;width:35px;height:35px;}
.download .file-size {color:#777777;font-size:12px;margin-left:211px;}

/************ 5-готовые-формы-на-продажу ************/

.forms-sale {margin-top:40px;clear:both;}
.forms-sale img {margin-right:30px;}
.forms-sale .description {color:#3d3d3d;font-size:15px;margin-top:15px;line-height:21px;}
.forms-sale .price {font-size:15px;color:#3d3d3d;margin-top:-5px;font-weight:bold;}

/************ 6-галерея ************/

.menu-left ul ul a{margin-left:10px;color:#000000;}

.gallery-item-block {padding-bottom:15px;display:inline-block;text-align:center;font-size:15px;color:#0182b2;border-radius:5px;margin-top:15px;margin-right:-3px;width:184px;vertical-align:top;position:relative;}
.gallery-item-block img {border-radius:6px;margin:10px 0 15px;}
.gallery-item-block .different {margin:10px 0 -1px;}

.gallery-item-block:hover {box-shadow:0 0 8px rgba(0, 0, 0, 0.3);position:relative;z-index:1;padding-bottom:5px;}
.gallery-item-block:hover img {width:172px;margin:10px 0 10px;}
.gallery-item-block:hover .different {margin:10px 0 5px;}

/************ 12-галерея_внутри ************/

.video .gallery-item-block {color:#000;}
.video iframe {border-radius:6px;}
.play-arrow{background-position:-51px -17px;width:38px;height:38px;position:absolute;top:30%;left:50%;margin-left:-19px;}
.video .gallery-item-block:hover .play-arrow {background-position:-51px -97px;}

/************ 7-продукция ************/
.product-page a{text-decoration:none;border-bottom:1px dashed #000;}

.overline {border-bottom:0!important;border-top:1px solid #d2e0ec;margin-top:20px;padding-top:15px;display:block;}

.options{border-radius:6px;background:#e9eddf;margin:35px 40px 0 0;text-align:center;padding:10px 10px 13px;width:95px;}

.options p {color:#276828;font-size:16px;font-weight:bold;}
.options i {margin:24px 0 12px;}
.options a {color:#0182b2;font-size:15px;display:block;}

.options .pdf {background-position:-231px -62px;width:43px;height:49px;}

.look {background-position:-453px -65px;width:50px;height:50px;}
.instructions {background-position:-458px -128px;width:36px;height:45px;}
.certificate {background-position:-397px -126px;width:45px;height:50px;}

.shop-link {background:#e1e9df;color:#909289;font-weight:bold;text-decoration:none;display:block;border-radius:6px;width:165px;height:20px;position:absolute;top:110px;right:90px;padding:5px;vertical-align:top;font-size:15px;font-weight:bold;}
.shop-link div {background:#909289;display:inline-block;border-radius:10px;width:60px;height:20px;margin-right:20px;}

.product-paragraf {margin-top:30px;}

.products-left {color:#359418;font-size:18px;font-weight:bold;display:inline-block;width:275px;line-height:24px;margin-top:30px;vertical-align:top;}

.list-right {list-style:url(img/marker.png);display:inline-block;width:350px;margin-left:90px;margin-top:23px;}
.list-right li {margin-top:5px;vertical-align:top;}

.hr {border-top:3px solid #d2e0ec; margin-top:40px;padding-top:30px;}

table {width:100%;color:#222222;font-size:13px;}
td {padding:14px 0;border-bottom:1px solid #d2e0ec;}
.header-tr td {font-size:13px;color:#7b7b7b;border-bottom:3px solid #d2e0ec;}
.type a {font-size:13px;font-weight:bold;color:#0182b2;}

.abbr li {color:#7b7b7b;font-size:13px;margin-top:10px;}

.gorizontal {padding:20px;margin:35px 0;width:700px;}
.gorizontal i {float:left;margin-top:0!important;margin-bottom:0!important;margin-right:15px;}
.gorizontal a {display:inline-block;width:150px;vertical-align:middle;text-align:left;margin-right:25px;}
.gorizontal span {padding-top:15px;display:inline-block;text-decoration:underline;}
.gorizontal br {clear:none;}

/************ 8-где купить ************/

.country-list {font-size:13px;color:#085d91;margin-top:25px!important;}
.country-list li{margin-top:10px;}
.country-list a {text-decoration:none;color:#181818;border-bottom:1px dashed #000;}

.buy-info {background:#e9eddf;border-radius:6px;margin:25px 0;padding:26px;font-size:15px;}
.buy-info div {width:45%;}
.buy-info .green {margin-bottom:20px;}

.tel{margin-top:30px;}
.tel span{color:#0182b2;float:right;margin-right:15px;}

.map {margin:25px 0 45px;width:765px;}

.country-block {border-bottom:solid 1px #d6e3eb;width:640px;margin-right:90px;margin-top:13px;}
.country-name {width:120px;display:inline-block;color:#2d7c9a;font-size:16px;}

.city {width:510px;display:inline-block;float:right;font-size:13px;color:#454545;border-bottom:solid 1px #d6e3eb;margin-bottom:15px;padding-bottom:12px;}
.city-name {width:105px;display:inline-block;color:#131313;font-size:16px;vertical-align:top;}
.city-contacts {width:400px;display:inline-block;vertical-align:top;line-height:24px;}
.city-contacts i {float:right;width:20px;height:20px;margin-right:11px;}
.city-contacts .different {border-bottom:solid 1px #d6e3eb;border-top:solid 1px #d6e3eb;padding:12px 0;margin:10px 0;}
.city-contacts a {color:#359418;}

.epicentrk{color:#454545;}

.ie {background-position:-12px -146px;}
.bilding {background-position:-12px -175px;}
.pushcart {background-position:-46px -146px;}
.carriage {background-position:-46px -175px;}

/************ 9-контакты ************/

.contacts-block {margin-top:40px;}
.contacts-block .green {font-size:22px;margin-top:-7px;width:100px;}
.contacts-block .green {display:inline-block;vertical-align:top;}
.contacts-info {display:inline-block;font-size:14px;color:#424242;vertical-align:top;}
.contacts-info .maps-item  {margin-left:0;margin-top:37px;}

.bold {font-weight:bold!important;margin-top:10px;}
.bold span {font-weight:normal;}
.bold a {font-weight:normal; color:#0182b2;}
.first {margin-top:0!important;}

.maps  {display:inline-block;width:500px;vertical-align:top;}
.maps-item {display:inline-block; margin-left:35px;margin-top:15px;text-align:center;font-size:14px;color:#3e3e3e;}
.maps-item a {color:#0182b2;}
.maps-item img, .foto img, .foto-border {border:6px solid #fff;box-shadow:0 0 5px rgba(0, 0, 0, 0.3);margin-bottom:5px;}
.maps-item img {display:block;}

.co-worker{margin-top:35px;padding-left:100px;}
.co-worker .green {margin-left:-100px;}
.co-worker div {margin-top:22px;border:6px solid #fff;box-shadow:0 0 5px rgba(0, 0, 0, 0.3);padding:10px;display:inline-block;width:380px;}
.co-worker img {float:left;}
.co-worker ul {margin-left:40px;width: 192px;font-size:14px;display:inline-block;}
.co-worker li {margin-top:8px;}
.co-worker .bold {margin-top:0;font-size:16px;}
.co-worker div .green {font-size:14px;margin-left:0;margin-top:11px;}

/************ 10-конструкторский отдел ************/

/*.construction {margin-left:35px;}*/
.construction h1 {margin-bottom:35px;}
.construction .menu-left {margin-top:15px;}
.construction .block {width:690px;float:right;}
.construction .green {display:inline-block;margin-bottom:10px;width:200px;vertical-align:top}
.construction-paragraf {display:inline-block;width:450px;vertical-align:top}

.construction .buy-info {margin-top:25px;}
.construction .buy-info .bold {margin-top:0;}
.construction .buy-info ol {list-style:decimal inside;width:340px;display:inline-block;}
.construction .buy-info li {margin-top:10px;}
.construction .buy-info a {text-decoration:none;border-bottom:1px dashed #8fb5aa;color:#1f1f1f;padding-left:15px;margin-left:-15px;}
.construction .buy-info img {float:right;margin:-15px 0;}

.construction .left {width:165px;}
.construction .left a {color:#0182b2;font-size:14px;display:block;text-align:center;}
.construction .left img {border:6px solid #fff;box-shadow:0 0 5px rgba(0, 0, 0, 0.3);margin-top:13px;}

.catalog {margin-bottom:6px;margin-top:15px; border:0!important;}
.notepad {background-position:-235px -128px;width:145px;height:135px;display:block;margin:43px 0 6px 25px;}

#block-1, #block-2, #block-3, #block-4, #block-5, #block-0 {margin-top:30px;}
.construction .right {width:690px;}
.construction .right p {margin-top:30px;line-height:24px;}
.construction .right ol {list-style:decimal inside;line-height:24px;}
.construction .right a {color:#0182b2;font-size:15px;}

.construction .right .list-right {width:auto;margin-left:27px;}
.plus {list-style:url(img/marker-plus.png) inside;}
.minus {list-style:url(img/marker-minus.png) inside;}
.plus li, .minus li {margin-top:11px;}

/************ 11-продукция1 ************/

.product-menu {width:185px;}
.product-menu .bold {margin-left:-10px;border-bottom:0;margin-top:19px;display:inline-block;}
.product-menu a {text-decoration:none;width:100px;}

.foto {width:235px;display:inline-block;text-align:center;color:#727272;font-size:14px;vertical-align:top;margin-right:10px;}

.product-paragraf-1 {margin:25px 0;}

.foto-border {margin:0 0 0 40px;}

.small-green {font-size:18px;}

.list-application {width:100%;margin: 5px 0 45px 25px;}

.link-block {margin-top:10px;display:inline-block;float:left;}
.link-block a {color:#0182b2;text-decoration:none;border-bottom:1px dashed #0182b2;font-size:15px;line-height:36px;}

.small-options {display:inline-block;padding:0 10px 20px;float:right;margin-top:-15px;width:260px;}
.small-options a {width:80px;display:inline-block;margin:0 20px;}

/************ ТАБЫ ************/
#tabs ul li.active a {background:#fff;text-decoration:none;color:#000;}

/************ фикс меню левого ************/
.center-block{float:right;}
.right-block {float:right;}
#sticker-sticky-wrapper {width:100px!important;}
.sticky-wrapper {width:100px!important;float:left;}
.menu-left {position:absolute;}

.nav-list > .active > a, .nav-list > .active > a:focus {
  border-radius:6px;background:#217db2;color:#fff!important;text-decoration:none;margin-left:-10px;padding:5px 10px;border-bottom:1px dashed rgba(0, 0, 0, 0)}

.nav-list > .active > a:hover {color:#ddd!important;box-shadow:0 0 3px rgba(0, 0, 0, 0.35);}

/************ Слайдер ************/
#slides {display: none;position:relative;height:300px;overflow:visible!important;}
#slides .slidesjs-container {width:1009px!important;}
#slides .slidesjs-control {width:1009px!important;}
.slider {overflow:visible!important;height: 315px;}
.slidesjs-previous {position:absolute;z-index:20;top:127px;left: -40px;}
.slidesjs-next { position:absolute;z-index:20;top:127px;right:-40px;}
.slidesjs-pagination {display: none;}
.slidesjs-control {height:200px!important;}
    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {padding-left: 20px;padding-right: 20px;}
    }
    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {width: 724px}
    }
    /* For larger displays */
    @media (min-width: 1200px) {
      .container {width: 1170px}
    }
	
/************ Script_spisok ************/

.wrapper-dropdown-1 {outline:none;position:relative;cursor: pointer;color:#585858;font-size:11px;display:block;}

.wrapper-dropdown-1 .dropdown {position:absolute;top:100%;left:1px;right:0;z-index:111;list-style:none;font-weight:normal;outline:none;opacity:0;pointer-events: none;}

.wrapper-dropdown-1 .dropdown li a {display: block;text-decoration:none;color: #585858;padding:7px 5px;	outline:none;background:none;border-radius:5px;font-size:11px;}

.wrapper-dropdown-1 .dropdown li:hover a {background:#efefef;outline:none;}

.wrapper-dropdown-1.active .dropdown {opacity:1;pointer-events:auto;outline:none;}

.wrapper-dropdown-1.active {background:#fff;border-bottom:1px solid #dedede;outline:none;}
	
.dropdown li {float:none;border-radius:5px;box-shadow:0 0 3px rgba(24, 132, 164, 0.7);margin-top:2px;background: linear-gradient(top, #fefefe, #d7d7d7);background: -webkit-linear-gradient(top, #fefefe, #d7d7d7);background: -moz-linear-gradient(top, #fefefe, #d7d7d7);background: -o-linear-gradient(top, #fefefe, #d7d7d7);background: -ms-linear-gradient(top, #fefefe, #d7d7d7);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#d7d7d7',GradientType=0);behavior: url(PIE.htc)}
	
/************ Video ************/

.popup {padding:5px 15px 15px;position:fixed;top:100px;left:50%;display:none;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;z-index:100;margin-left:-320px;behavior: url(PIE.htc);border-width:0!important;}
.popup a.close {width:16px;height:16px;display:block;text-indent:-9999px;position:absolute;top:-15px;right:-5px;background-position:-14px -14px;}

#overlay {width:100%;height:100%;position:fixed;top:0;left:0;display:none;background:#000;opacity:.8;z-index:11;}

/************ Скрытие пункта меню ************/

@media screen and (max-height: 540px){
	.hidden {display:none!important;}
}










	
	