/************ all-style ************/

/* ul */
/*+minus, plus*/
.ok {list-style: inside url(img/marker.png); width:350px;}
.ok li {margin-top:5px;vertical-align:top;}
.ok a {    border-bottom: 1px dashed #0182B2;
    color: #0182B2;
    font-size: 15px;
    line-height: 36px;
    text-decoration: none;}

/* ol */
ol {list-style-position:inside;}


/* p */
.mtop-p{ font-size:16px; margin-top:15px; }

.grey-p {font-size:17px; line-height:28px ;color:#333333; margin:30px 0;}

/* img */

.border-img {border: 6px solid #fff;box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);}

.foto-img a {color:#0182b2;}
.foto-img { display:inline-block;text-align:center;color:#727272; font-size:14px;vertical-align:top;margin-right:10px;}
.foto-img img { margin-bottom:5px; margin-left: auto; margin-right:auto;}

/* h */

.green-h{color:#359418;font-size:none!important; font-weight: normal;}

h3.green-h{color:#359418;font-size:20px;}

/* a */
.anchor {text-decoration: none;border-bottom: 1px dashed #0182B2; color: #0182B2;}
.anchor:hover { border-bottom: none; }
.link { color: #0182B2;}
/* options */
/* options gorizontal/ options small-options */

/* floats */
.f_left
{
float: left;
}
.f_right
{
float: right;
}


/* For modern browsers */
.container:before,
.container:after {
    content:"";
    display:table;
}
.container:after {
    clear:both;
}
.full_width, .clear
{
 width:100%;
}

