
<!DOCTYPE html>
{% load cms_tags sekizai_tags ukrhim_extras i18n menu_tags compress %}
{% get_current_language as LANGUAGE_CODE %}

<html>
	<head>
		
		{% block meta %}
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
		{% endblock %}
		
		{% block title %}
			<title>{% page_attribute "page_title" "main" %}</title>
		{% endblock %}
		<link rel="shortcut icon" href="{% show_placeholder 'favicon' 'main' %}" type="image/x-icon">
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
		{% block css %}
			{% compress css %}
				<link rel="stylesheet" type="text/css" href="/static/style.css" />
			{% endcompress %}
			<!--[if IE]>
				{% compress css %}
					<link rel="stylesheet" type="text/css" href="/static/ie.css" />
				{% endcompress %}
			<![endif]-->
		{% endblock %}
		
		{% compress js %}
				<script async type="text/javascript" src="/static/js/jquery-1.7.2.min.js" ></script>
				<script async src="/static/js/menu.js" type="text/javascript"></script>
				<script>
					$(document).ready(function(){
					 $(".level1").click(function(){
						   var cssD = $(this).next('.level2').css('display');
							if( cssD == "none"){
								 $(this).next('.level2').slideDown(400);
						   }
						   else{
								$(this).next('.level2').slideUp(400);
						   }
					}
					)                   
					 });
				</script>
		{% endcompress %}


	  
	</head>
	
	<body data-spy="scroll" >
		
		{% block header %}
			<header>
				<a href="{% page_url 'main' %}" class="logo"><img src="{% show_placeholder 'logo' 'main' %}" /></a>
				<div class="slogan">{% show_placeholder "slogan" "main" %}</div>
				<form id="search" method="get" action="">
					<input type="search" value="{% trans 'search on site' %}" class="search-text" onfocus="{if (this.value == '{% trans 'search on site' %}')this.value = '';this.setAttribute('class','search-text')}" onblur="if (this.value == ''){this.value = ''{% trans 'search on site' %}'';this.setAttribute('class','search-text')}" />
					<input class="search-button" type="submit" title="'{% trans 'search on site' %}'" />
				</form>	
				
				<nav class="menu-block">
					<ul class="menu collapsible">

						{% for page in request.current_page.get_root.get_children %}
							{% if forloop.counter == 1 %}
								<li class="menu-item-{% cycle '1' '2' '3' '4' '5' '6' '7' '8' '9' as numbers %}">
									<a href="" class="product-item">{% page_attribute "menu_title" page %}</a>
									<div class="acitem">
										<div class="arrow-top"></div>
										{% show_placeholder "products menu" page %}
										<br />
									</div>		
								</li>
							{% elif not page.is_leaf_node %}
								<li class="menu-item-{% cycle numbers %}">
									<a href="">{% page_attribute "menu_title" page %}</a>
									
									<div class="acitem">
										<ul>
											{% for child in page.get_children %}
												{% if child.in_navigation %}
													<li><a href="{% page_url child %}">{% page_attribute "menu_title" child %}</a></li>
												{% endif %}
											{% endfor %}
										</ul>
									</div>
									
								</li>
							{% elif page.in_navigation and page.reverse_id|slice:":10" == "redirect__" %}
								<li class="menu-item-{% cycle numbers %}">
									<a href="{% page_url page.reverse_id|slice:"10:" %}">{% page_attribute "menu_title" page %}</a>
								</li>
							{% elif page.in_navigation %}
								<li class="menu-item-{% cycle numbers %}">
									<a href="{% page_url page %}">{% page_attribute "menu_title" page %}</a>
								</li>
							{% endif %}
						{% endfor %}
						
					</ul>
					<div id="menu">
						{% language_chooser "language_chooser.html" %}
					
				
						<div class="level1 contry">{{ site.country|upper }}<i></i></div>
						<div class="level2 contry-list">
							{% for site in sites %}
								<div><a href="{{ site.get_absolute_url }}/{{LANGUAGE_CODE}}/">{{ site.country_en }} - {{ site.company_en }}</a></div>
							{% endfor %}
						</div>
					
					</div>

				</nav>
			</header>
		{% endblock %}
		
		{% block middle %}
		{% endblock %}
		
		{% block footer %}
			<footer>
				<div class="left">
					<p>{% show_placeholder "site company" "main" %}</p>
					<a href="{% page_url 'sitemap' %}">{% trans "Site map" %}</a>
					<a href="{% page_url 'contacts' %}" class="contact-info">{% trans "Contact Us" %}</a>
				</div>
				<div>
					<ul>
						<li>E-mail: {% show_placeholder 'site emeil' "main" %}</li>
						<li>Skype: {% show_placeholder 'site skype' "main" %}</li>
						<li>Телефон: {% show_placeholder 'site phone' "main" %}</li>
					</ul>
				</div>
				<div class="right">
					<a href="{% show_placeholder 'site twitter' request.current_page.get_root %}" class="twitter"></a>
					<a href="{% show_placeholder 'site vk' request.current_page.get_root %}" class="vk"></a>
					<a href="{% show_placeholder 'site fb' request.current_page.get_root %}" class="fb"></a>
					<p><a href="http://www.mart.com.ua/{% if LANGUAGE_CODE == 'en' %}en/{% endif %}">{% trans "Site created by" %}</a> — {% trans "Studio March" %}<p>
				</div>
			</footer>
		{% endblock %}
		{% block js %}
			
		{% endblock %}
	</body>
</html>