{% extends "base.html" %}
{% load cms_tags compress %}

{% block middle %}
	{% placeholder "middle" %}
{% endblock %}

{% block js %}
	{{ block.super }}
	{% include 'gall_js.html' %}
	{% compress js %}
		<script>$('a.show_popup').click(function () {
			$('div.'+$(this).attr("rel")).fadeIn(500);
			$("body").append("<div id='overlay'></div>");
			$('#overlay').show().css({'filter' : 'alpha(opacity=80)'});
			return false;				
		});	
		$('a.close').click(function () {
			$(this).parent().fadeOut(100);
			$('#overlay').remove('#overlay');
			return false;
		});</script>
	{% endcompress %}
{% endblock %}

{% block css %}
	{{ block.super }}
	{% include 'gall_css.html' %}
{% endblock %}