{% extends "base.html" %}
{% load cms_tags sekizai_tags compress %}

{% block common_input %}
	{% placeholder "logo" %}
	{% placeholder "favicon" %}
	{% placeholder "slogan" %}
	{% placeholder "site company" %}
	{% placeholder "site skype" %}
	{% placeholder "site emeil" %}
	{% placeholder "site phone" %}
	{% placeholder "site twitter" %}
	{% placeholder "site vk" %}
	{% placeholder "site fb" %}
{% endblock %}

{% block middle %}
	<br />
	<div class="middle">
		<div class="slider">
            <div id="slides">
                {% placeholder "slider slides" %}
                <a href="#" class="slidesjs-previous slidesjs-navigation arrow-left"></a>
                <a href="#" class="slidesjs-next slidesjs-navigation arrow-right"></a>
            </div>
		</div>
	</div>
	<div class="directions">
		<h1>{% placeholder "work directions header" %}</h1>
		<div class="middle">
			{% placeholder "work direction 1" %}
			<img src="{{ STATIC_URL }}catalog/img/separator.png" />
			{% placeholder "work direction 2" %}
			<img src="{{ STATIC_URL }}catalog/img/separator.png" />
			{% placeholder "work direction 3" %}
			<img src="{{ STATIC_URL }}catalog/img/separator.png" />
			{% placeholder "work direction 4" %}		
		</div>
	</div>
{% endblock %}

{% block footer %}
	<div class="main-footer">
		{{ block.super }} 
	</div>
{% endblock %}

{% block js %}
	{{ block.super}}
	{% compress js %}
		<script src="{{ STATIC_URL }}catalog/js/jquery.slides.min.js"></script>
		<script>
			$(function() {
			  $('#slides').slidesjs({
				width: 940,
				height: 528,
				navigation: false
			  });
			});
		</script>
        <script>
            $('#look_products').click(function(e) { e.preventDefault(); $('#products_button').click()})
        </script>
	{% endcompress %}
{% endblock %}	
