{% extends "base.html" %}
{% load i18n ukrhim_extras cms_tags currency imagekit assign compress %}


{% block middle %}

{% get_product as product %}
	<div class="middle background">
		<nav class="menu-left" id="sticker">
					{% if "type" in request.GET %}
						<nav class="menu-left">
							<ul>
							
						{% get_page request.GET.type as parent %}			
								<li class="bold">{% page_attribute "menu_title" parent %}:</li>
								{% for child in parent.get_children %}
									{% assign name="menu_items" %}{% show_uncached_placeholder 'left menu items product' child %}{% endassign %}
									{% if menu_items %}
										{{ menu_items }}
									{% else %}
										<li><a href="{{ child.get_absolute_url }}" {% if request.GET.product_type == product_type %} class="current-button" {% endif %}>{% page_attribute "menu_title" child %}</a>
										{% if request.GET.product_type == product_type %}
												{% get_type_and_addtnl_products product request.GET.product_type as products %}
												{% if products %}
													<ul>
													{% for product in products %}
														<li><a href="{{ child.get_absolute_url }}?type={{ request.GET.type }}&product={{ product.slug }}" >{{ product.name }}</a></li>
													{% endfor %}
													</ul>
												{% endif %}
										{% endif %}
										</li>
									{% endif %}
								{% endfor %}
						
							</ul>
						</nav>
					{% endif %}
		</nav>
		<div class="main-block right">
			<ul class="bread-crumbs">
				{% for ance in request.current_page.get_ancestors %} 
					{% if ance.in_navigation %}
						<li><a href="{% page_url ance %}">{% page_attribute "menu_title" ance %}</a></li> <i></i>
					{% else %}
						<li>{% page_attribute "menu_title" ance %}</li> <i></i>
					{% endif %}
				{% endfor %}
				<li>{% page_attribute "menu_title" request.GET.type %}</li><i></i>
				{% get_placeholder 'left menu items active' request.GET.product_category as menu %}
				{% if menu %}
					<li><a href="{% page_url request.GET.product_category %}#request.GET.product_type">{% get_type_name request.GET.product_type %}</a></li><i></i>
				{% else %}
					{% get_page request.GET.product_category as page %}
					<li><a href="{% page_url request.GET.product_category %}">{% page_attribute "menu_title" page %}</a></li>
				{% endif %}
				<li> {{ product.name }}</li>
				
			</ul>
			{% get_product_field product "product_type" as type %}
			{% get_product_field product "descriprion" as descr %}
			<h1>{% block heading %} {{ product.name }} {% if type %}{{ type.name}}{% endif %} {% endblock %}</h1>
			{% get_product_field product "photo" as photo %}
			
			<p class="about">{% if photo.url %}{% generateimage "face_in_products" source=photo.url -- class="foto-product right" %}{% endif %}{% block about %}{% if  descr %} {{ descr }}{% elif type.type_description %} {{ type.type_description }} {% endif %}{% endblock %}</p>
			<h3 class="left">{% trans "characteristics" %}</h3>
			<ul class="features left">
			{% block characteristics %}
					{% with "length width height" as fields %}
						{% with fields.split as field_list %}
							{% for field in field_list %}
								{% get_product_field product field as field_content %}

								{% if field_content %}
									<li>{% get_field_name field %} : {{ field_content }} {% get_field_units field %}</li>
								{% endif %}
							{% endfor %}
						{% endwith %}
					{% endwith %}
			{% endblock %}
				<li class="price">{% block price %} {% trans "Price" %}: {{ product.price }} {% currency %}. {% endblock %}</li>
			</ul>
			<br />
			{% block tabs %}
			{% get_product_field product "sketch" as sketch %}
			{% get_product_field product "animation_3d" as animation_3d %}
			{% get_product_field product "list_photos" as list_photos %}
			<nav id="tabs" class="category">
				<ul>
					{% if sketch.url %}<li><a href="#tab1">Чертежи</a></li> {% endif %}
					{% if animation_3d.url %}<li><a href="#tab2">3D модель</a></li>{% endif %}
					{% if list_photos.0 %}<li><a href="#tab3">Фото</a></li>{% endif %}
					{% assign name="sert" %}{% placeholder "sert and instr" request.GET.type %}{% endassign %}
					{% if sert %}<li><a href="#tab3">Сертификаты и Инструкция</a></li>{% endif %}

					
				</ul>
				<br />
			</nav>
			
			<div id="panels">
				<div class="panel-wrapper">
					{% if sketch.url %}
						<div class="panel" style="display: block;">
							
							<p>{% generateimage "sketch_in_products" source=sketch.url %}</p>
						</div>
					{% endif %}
					{% if animation_3d.url %}
					<div class="panel" style="display: none;">
						<p><img src="{{ animation_3d.url }}"/></p>
					</div>
					{% endif %}
					{% if list_photos.0 %}
					<div class="panel" style="display: none;">
						<div class="zoom-gallery">
						{% for product_photo in list_photos %}
							{% generateimage "photo_big" source=product_photo  as big_photo %}
							<a href="{{ big_photo.url }}" class="gallery-product" >
								{% generateimage "gallery_photo_small" source=product_photo  %}
							</a>
						{% endfor %}
						</div>
					</div>
					{% endif %}
					{% if sert %}
					<div class="panel" style="display:none ;">
						{{ sert }}		
					</div>
					{% endif %}
					
				</div>
			</div>	
			{% endblock %}


			
		</div>
	<br />		
	</div>
	<br />

{% endblock %}

{% block js %}
	{{ block.super }}
	{% include 'gall_js.html' %}
	{% include 'scroll_js.html' %}
	{% include 'scroll_move_js.html' %}
	{% compress js %}
		<script src="/static/js/jquery.address-1.4.min.js"></script>
		<script>
			$(document).ready(function(){
		  //табы
		  var QTABS = {
			
				init: function () {
				
					// attached onload and change event to address plugin
					$.address.init(function(event) {
						
						// first load, set panel
						QTABS.setPanel(event);
							
					}).change(function(event) {

						// if the url changes, set panel
						QTABS.setPanel(event);			

					});
				
				},
				
				// the core function to display correct panel
				setPanel: function (event) {
				
					// grab the hash tag from address plugin event
					var hashtag = event.pathNames[0];
					
					// get the correct tab item, if no hashtag, get the first tab item
					var tab = (hashtag) ? $('#tabs li a[href=#' + hashtag + ']') : $('#tabs li:first a');

					// reset everything to default
					$('#tabs li').removeClass('active');
					$('#panels .panel').hide();

					// if hashtag is found
					if (hashtag) {
						
						// set current tab item active and display correct panel
						tab.parent().addClass('active');
						$('#panels .panel:eq(' + (tab.parent().index()) + ')').show();			
					} else {
						// set the first tab item and first panel				
						$('#tabs li:first').addClass('active');
						$('#panels .panel:first').show();			
					
					}
					// change the page title to current selected tab
					//document.title = tab.attr('title');
				}
			}
			// Execute this script!
			QTABS.init();
		});
		</script>
	{% endcompress %}
{% endblock %}

{% block css %}
	{{ block.super }}
	{% include 'gall_css.html' %}
{% endblock %}