{% extends "base.html" %}
{% load cms_tags compress %}

{% block options %}
{% placeholder "for clients" %}
{% endblock %}

{% block middle %}
{% placeholder "content" %}
{% endblock %}

{% block js %}
	{{ block.super }}
	{% include 'scroll_js.html' %}
	

	
	<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
	<script src='/static/js/yandex_maps.js' type="text/javascript"></script>
	{% compress js inline %}
	{% endcompress %}
	
	{% include 'scroll_move_js.html' %}
	
{% endblock %}