{% extends "base.html" %}
{% load cms_tags compress %}

{% block options %}
{% placeholder "for clients" %}
{% endblock %}

{% block middle %}
{% placeholder "content" %}
{% endblock %}

{% block js %}
	{{ block.super }}
	{% compress js %}
		<script type="text/javascript" src="/static/js/jquery.scrollTo-min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.localscroll-min.js"></script>
		<script type="text/javascript" src="/static/js/gallery.js"></script>
		<script type="text/javascript" src="/static/js/init.js" ></script>
	{% endcompress %}
	

	<script src="http://api-maps.yandex.ru/1.1/index.xml?key=AB6o91EBAAAA37mQDQMAwfZFspaSYWSTmKKXxENk0sA_MY8AAAAAAAAAAADCsOMd5U7HjgjG8qPNofE3qi-1Pw==" type="text/javascript"></script>
	{% compress js inline %}
		<script type="text/javascript">
			window.onload = function () {
				var map = new YMaps.Map(document.getElementById("YMapsID"));
				map.setCenter(new YMaps.GeoPoint(37.64, 55.76), 10);
			}
		</script>
	{% endcompress %}
	
	{% compress js %}
		<script type="text/javascript" src="/static/js/jquery.sticky.js"></script>
		<script>
		$(window).load(function(){
		  $("#sticker").sticky({ topSpacing: 10, bottomSpacing: 200 });
		});
		</script>
	{% endcompress %}
	
{% endblock %}