@media (min-width: 500px) {
.django-ace-widget {
    display: inline-block;
    height: 520px;
    position: relative;
    width: 620px;
}

div#container
{
	min-width: 400px!important;
}

}

@media (min-width: 1201px) {
.django-ace-widget {
    display: inline-block;
    height: 640px;
    position: relative;
    width: 900px;
}
}

@media (min-width: 1501px) {
.django-ace-widget {
    display: inline-block;
    height: 720px;
    position: relative;
    width: 1300px;
}
}


.django-ace-widget > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.django-ace-widget.loading {
    display: none;
}
