
@media (max-width: 1000px) {
.django-ace-widget {
    display: inline-block;
    height: 640px;
    position: relative;
    width: 640px;
}
}

@media (min-width: 1001px) {
.django-ace-widget {
    display: inline-block;
    height: 640px;
    position: relative;
    width: 1100px;
}
}
.django-ace-widget > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.django-ace-widget.loading {
    display: none;
}
